ion-content{
    --padding-end: 5%;
    --padding-start: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
  }
.label{
  font-size: 20px;
  color: #fd6225;
}
h2{
  font-weight: bold;
}