<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Know about the safety measures of the building</p>
  <ion-card color="primary">
    <div class=picture>
      <img src="../../assets/fire-extinguisher.jpeg">
    </div>
    <div class="details">
      <ion-card-title>Fire Extinguisher</ion-card-title>
      <ion-card-subtitle>Qty: 2 (Room1 and corridor)</ion-card-subtitle>
    </div>
  </ion-card>

  <ion-card color="primary">
    <div class=picture>
      <img src="../../assets/smoke-detector.png">
    </div>
    <div class="details">
      <ion-card-title>Smoke Detector</ion-card-title>
      <ion-card-subtitle>Qty: 2 (Room1 and Room2)</ion-card-subtitle>
    </div>
  </ion-card>

  <ion-card color="primary">
    <div class=picture>
      <img src="../../assets/sprinkler.jpg">
    </div>
    <div class="details">
      <ion-card-title>Water Sprinkler</ion-card-title>
      <ion-card-subtitle>Qty: 8 (4 in each room)</ion-card-subtitle>
    </div>
  </ion-card>

  <ion-card color="primary">
    <div class=picture>
      <img src="../../assets/fire-bucket.jpeg">
    </div>
    <div class="details">
      <ion-card-title>Fire Bucket</ion-card-title>
      <ion-card-subtitle>Qty: 3 (corridor)</ion-card-subtitle>
    </div>
  </ion-card>

  <ion-card color="primary">
    <div class=picture>
      <img src="../../assets/hose-pipe.jpg">
    </div>
    <div class="details">
      <ion-card-title>Hose Pipe</ion-card-title>
      <ion-card-subtitle>Qty: 1 (corridor)</ion-card-subtitle>
    </div>
  </ion-card>
</ion-content>
