<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>As we all know that fire is one the most dangerous elements of our planet if it is not used in a correct manner, it is absolutely necessary for everyone to understand the hazards a fire can cause and the harmful effects it has on human and other living and nonliving things. There have been a lot of forest fires in the last decades followed by fire in high altitude areas. Taking all this into consideration we feel that it is an extreme prerequisite for people to have an app that can detect fire and also talk about various other things.
  </p>
  <p>Many of the fire incidents are because of the carelessness shown by an individual because he is not properly aware of the precautions or the steps to take once fire has erupted. With an aim that this app will be beneficial to one and all in reducing fire calamities,
  </p>
  <p>FireFighter App has everything which one wants at the time of fire, or even before it, list of precautions which one can take with a list of all the fire fighting appliances available in the building, an exit plan which can be followed to move out of the building in the time of emergency and it also provide feature to complain about any kind of negligence which is taking place in the building to avoid any fire hazard  
  </p>
</ion-content>
