<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Precautions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p><span class="main_13_black">Ways to prevent fire incidents:</span></p>
<ul>
<li>
  <p>Do not disable smoke or CO detectors. These are life saving devices that will give you an early warning to a life threatening event. Carbon monoxide, CO, is an odorless, colorless, and tasteless gas (known as the Silent Killer) that is the most abundant deadly byproduct of fire. Tampering, covering, disabling fire detection devices is a criminal offense.</p>
</li>
<li>
  <p>Do not smoke indoors. Smoking is prohibited in this building and anyone found smoking will have to pay fine based on the latest company policy.</p>
</li>
<li>
  <p>Do not plug multiple Appliances on the same plug.</p>
</li>
<li>
  <p>Microwave oven should not remain unattended at all times.</p>
</li>
<li>
  <p>Open wires and loose plugs should be reported immediately to avoid any kind of fire hazards.</p>
</li>
</ul>

</ion-content>
